/* HEADER 👇👇 */

/* HEADER */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-weight: 700;
  /* flex-direction: ; */
}

.nav_logo {
  width: 90px;
  cursor: pointer;
}

nav h2 {
  display: inline-block;
}

.nav_links_container-mobile {
  /* display: none; */
}

.nav_links_container-mobile img {
  width: 25px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
}




/* FAQ */
.faq__container {
  margin-top: 20px;

}

.faq {
  border: 1px solid #c6c6c6;
  border-radius: 15px;
  padding: 10px 16px;
  width: 90vw;
  max-width: 500px;
  /* padding: 12px 45px 12px 15px; */
  margin-bottom: 10px;
  background-color: transparent;
  position: relative;
  transition: 0.3s ease-in;
}

.faq .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question i {
  padding: 5px;
  background-color: #A1DD90;
  border-radius: 50%;
  color: #000;
}

.answer {
  height: 0px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: 20px;
  color: #18181C;
}

.reveal_answer {
  height: 100%;
  transition: all 1s linear;
}





/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  height: 160px;
  bottom: 0;
}

/* Contact section - footer */


.copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E8E8E8;
  background-color: #18181C;
  height: 60px;
  width: 100%;
}


.contact-section {
  height: 100%;
  /* background-color: rgb(72, 72, 73); */
  background-color: #18181C;
  margin-top: 30px;
  padding: 20px 80px;
  color: #E8E8E8;
  display: flex;
  justify-content: space-between;
}

.contact-section h2 {
  font-size: 24px;
  color: white;
}

.contact-text {
  color: #E8E8E8;
  text-align: center;
  margin: 0;
  font-size: 22px;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


.social-links {
  margin-bottom: 20px;
}

.social {
  gap: 20px;
  font-size: larger;
}

.title {
  text-align: center;
}

.description {
  text-align: center;
}

.img-text {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: solid .6px #18181C;
}


@media (max-width: 426px) {
  
  .nav_links_container-mobile {
    display: flex;
  }
  .nav_links_container {
    display: none;
  }

  nav{
    padding: 0px 10px;
  }
  .contact-section{
    flex-direction: column;
  }

  .contact-container{
    padding: 10px;
    gap: 5px;
  }

}