@font-face {
  font-family: Inter;
  src: url(assets/Inter-font.ttf);
}

* {
  /* padding: 0px;
  margin: 0px; */
  font-family: Inter, system-ui, -apple-system;
  /* color: #18181C; */
}


body {
  margin: 0;
  background-color: #ECF2F5;
  /* padding: 0px 80px; */
}

.glow-bg {
  position: absolute;
  width: 190px;
  height: 190px;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 10px;
  border-radius: 50%;
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes glow {
  50% {
    box-shadow: 0px 0px 100px green;
  }
}


/* HEADER */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  font-weight: 700;
  /* flex-direction: ; */
}

.nav_logo {
  width: 90px;
  cursor: pointer;
}

nav h2 {
  display: inline-block;
}

.nav_links_container-mobile {
  display: none;
}

.nav_links_container-mobile img {
  /* display: none; */
  width: 25px;
}

nav a {
  margin-right: 10px;
}



main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 80px;

}

hr {
  width: 95%;
}



/* SLIDING IMAGES */
.sliding_carasol img {
  width: 90%;
  border-radius: 20px;
  /* box-shadow: 5px 5px 50px #3d3d3d56; */

}

.sliding_carasol {
  display: flex;
  justify-content: center;

}

/* PRODUCT CONTAINER */
.product-card__container {
  display: flex;
  align-items: center;
  border: .8px solid #18181C;
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.product_card_img {
  width: 270px;
}

#quantity {
  width: 22px;
  margin-right: 4px;
}

.order__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.quantities__container {
  margin-top: 10px;
}

.quantities__container span {
  border: 1px solid #18181C;
  padding: 2px 6px;
  border-radius: 15px;
}

/* Pricing  */
.price__container {
  display: flex;
  align-items: baseline;
  align-items: right;
  justify-content: right;
}

.actual__price {
  text-decoration: line-through red;
}

.discounted__price {
  font-size: 22px;
  font-weight: 700;
}


/* BUTTONS */
.btn1 {
  /* background-color: #16CAA0; */
  background-color: green;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 8px;
  cursor: pointer;
}

.btn2 {
  background-color: #21C8E7;
}

/* FAQ */
.faq__container {
  margin-top: 20px;

}

.faq {
  border: 1px solid #18181C;
  border-radius: 15px;
  padding: 12px 45px 12px 15px;
  margin-bottom: 10px;
  background-color: transparent;
  position: relative;
  transition: 0.3s ease-in;
}

.faq__container .active {
  background-color: #E2F0F9;
  box-shadow: 1px 1px 20px #18181C;
}

.faq-title {
  margin-top: 0px;
  margin-bottom: 10px;
  max-width: 550px;
}

.faq-text {
  display: none;
  margin-left: 20px;
  color: #18181C;
}

.faq.active .faq-text {
  display: block;
}

.faq button {
  background-color: transparent;
  /* border: 1px #18181C solid; */
  border: none;
  position: absolute;
  right: 13px;
  top: 8px;
  /* border: 1px solid #18181C;
  border-radius: 50%;
  padding: ; */

}

.faq img {
  width: 15px;
  padding: 2px 0.8px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  height: 300px;
}

/* RESPONSIVE DESIGN */
@media (max-width: 425px) {
  main {
    /* background-color: red; */
    padding: 0px 10px;

  }

  .nav_links_container-mobile {
    display: block;
  }

  .nav_links_container {
    display: none;
  }

  .faq-title {
    /* max-width: 250px; */
  }

  .contact-section {
    height: 100px;
    margin-top: 10px;
    padding: 0px 0px;
    font-size: 14px;
  }

  .contact-container {
    gap: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
  }

  .social {
    display: flex;
    flex-direction: row;
    margin: 0;
  }




}

/* Contact section - footer */


.copyrights {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #18181C;
  height: 60px;
  width: 100%;
}


.contact-section {
  height: 160px;
  background-color: rgb(72, 72, 73);
  margin-top: 30px;
  padding: 20px 80px;
  color: white;
}

.contact-text {
  color: white;
  text-align: center;
  margin: 0;
}

.contact-container {
  display: flex;
  justify-content: center;
  /* gap: 10px; */
}


.social-links {
  margin-bottom: 20px;
}

.social {
  gap: 20px;
  font-size: larger;
}

.title {
  text-align: center;
}

.description {
  text-align: center;
}

.img-text {
  text-align: center;
  padding-bottom: 40px;
  border-bottom: solid .6px #18181C;
}